<div class="content">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<carousel> 
			<slide> 
				<img src="assets/img/modelos/primero.jpg" alt="First slide" style="display: block; width: 100%;"> 
			</slide> 
			<slide> 
				<img src="assets/img/modelos/segundo.jpg" alt="Second slide" style="display: block; width: 100%;"> 
			</slide> 
			<slide> 
				<img src="assets/img/modelos/tercero.jpg" alt="Third slide" style="display: block; width: 100%;"> 
			</slide> 
			<slide> 
				<img src="assets/img/modelos/cuarto.jpg" alt="four slide" style="display: block; width: 100%;"> 
			</slide> 
			<slide> 
				<img src="assets/img/modelos/quinto.jpg" alt="five slide" style="display: block; width: 100%;"> 
			</slide> 
		</carousel>
	</div>
</div>